.content {
    width: 50rem;
    margin: 2rem auto;
}

.content.dark {
    color: var(--gray);
}

.content.light {
    color: var(--black);
}

.indent {
    margin: 0.2rem 1.2rem;
}

.title {
    margin: 1rem 0.3rem;
    font-weight: bold;
    text-decoration: underline;
}

.info {
    margin: 0 1rem;
}

.item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item img {
    border: 1px dashed;
    margin: 1rem auto;
    max-height: 16rem;
    max-width: 48rem;
}

@media screen and (max-width: 991px) {
    .content {
        width: 40rem;
    }

    .item img {
        max-width: 38rem;
    }
}

@media screen and (max-width: 768px) {
    .content {
        width: 30rem;
    }

    .item img {
        max-width: 28rem;
    }
}

@media screen and (max-width: 512px){
    .content{
        width: 19rem;
    }
    .item img{
        max-width: 17.6rem;
    }
}