.content {
    width: 52rem;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

.content.dark {
    color: var(--gray);
}

.content.light {
    color: var(--black);
}