.header {
    width: 100vw;
    height: 3rem;
    display: flex;
    column-gap: 2rem;
    z-index: 1;
    align-items: center;
    justify-content: center;
}

.header.dark {
    background-color: var(--borderDark);
}

.header.light {
    background-color: var(--blue);
}

.container {
    width: 52.2rem;
}

.header a {
    font-size: 1.1rem;
    color: var(--bgLight);
}

.header a:hover {
    transition: 200ms;
    color: var(--orange);
}

a.active {
    color: var(--orange);
}

.auth {
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
}

.userName {
    color: var(--gray);
    font-size: 1rem;
}

.links {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}

.logIn {
    margin-left: -4rem;
}