.content {
    width: 20rem;
    height: 20rem;
    padding: 3rem 0.5rem;
}


.title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 1rem;
    text-align: center;
}

.text {
    margin-top: 2.5rem;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: center;
}

.buttonGroup {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    column-gap: 0.3rem;
}

