.settings{
    margin: 2rem auto;
    box-sizing: border-box;
    width: 52rem;
    border: 2px solid;
    border-radius: 0.3rem;
    padding: 2rem;
}

.title{
    text-align: center;
    font-size: 1.4rem;
}

.changePassword{
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
    align-items: center;
}

.alert{
    position: fixed;
    right: 0;
    left: 0;
    margin: 0 auto;
    top: 4rem;
    opacity: 0;
    pointer-events: none;
    width: 13rem;
    height: 3rem;
    display: flex;
    justify-content: flex-start;
    transform: scale(0.3);
    align-items: center;
    transition: 0.3s;
}

.alert.active{
    opacity: 1;
    transform: scale(1);
    pointer-events: all;
}