.pageTitle {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1rem;
    display: flex;
    align-items: center;
}

.tableTitle {
    height: 2.5rem;
    font-weight: 500;
}

.tableTitle.dark {
    background-color: var(--darkGray);
    color: var(--gray);
}

.tableTitle.light {
    background-color: var(--gray);
    color: var(--black);
}

.header {
    margin: 1.5rem auto;
    width: 50.6rem;
    display: flex;
    justify-content: space-between;
}

.header.dark {
    color: var(--gray);
}

.header.light {
    color: var(--black);
}


@media screen and (max-width: 991px){
    .header{
        width: 38rem;
    }
}

@media screen and (max-width: 768px){
    .header{
        width: 29rem;
    }
}