.alert{
    position: fixed;
    right: 0;
    left: 0;
    margin: 0 auto;
    top: 4rem;
    opacity: 0;
    pointer-events: none;
    min-width: 13rem;
    max-width: max-content;
    min-height: 3rem;
    display: flex;
    justify-content: flex-start;
    transform: scale(0.3);
    align-items: center;
    transition: 0.3s;
}

.alert.active{
    opacity: 1;
    transform: scale(1);
    pointer-events: all;
}