footer{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    bottom: 1.5rem;
}

.copyright{
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 1.8rem;
    font-size: 1.2rem;
    white-space: nowrap;
}