.formField {
    margin-bottom: 0.5rem;
    width: 26rem;
    display: flex;
    break-inside: avoid;
    justify-content: space-between;
}

.title {
    max-width: 8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    letter-spacing: 1.5px;
    font-size: 0.95rem;
}

@media screen and (max-width: 768px){
    .formField{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 0.2rem;
    }
}

@media screen and (max-width: 512px){
    .formField{
        width: 16rem;
    }
}