.buttonGroup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.3rem;
}

.buttonsRow {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.3rem;
}

.iconButton {
    background-color: inherit;
    border: none;
}


.userName {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    text-align: left;
}

.userName.light{
    color: var(--blue);
}

.userName.dark{
    color: var(--darkBlue);
}